In [1]:
my_list1=[10,20,30,40,50]
my_list2=[]
my_list2=my_list1.copy()
my_list1[1]="nishan"
# my_list1(my_list2)
print(my_list1)
print(my_list2)

[10, 'nishan', 30, 40, 50]
[10, 20, 30, 40, 50]

In [2]:
my_list2=list(my_list1)
my_list1[1]=40
print(my_list1,my_list2)

[10, 40, 30, 40, 50] [10, 'nishan', 30, 40, 50]

In [4]:
my_list3=my_list1+my_list2
print(my_list3,len(my_list3))

[10, 40, 30, 40, 50, 10, 'nishan', 30, 40, 50] 10

In [8]:

my_tuple1=("dog","cat","bird","tiger","lion")
print(type(my_tuple1))

<class 'tuple'>

In [ ]:

my_tuple1[1]="nishan"
print(my_tuple1)

TypeError: 'tuple' object does not support item assignment

In [14]:

my_tuple1=("dog","cat","bird","tiger","lion")
my_list1=list(my_tuple1)
my_list1[1]="nishan"
my_tuple1=tuple(my_list1)
print(my_tuple1,type(my_tuple1))

('dog', 'nishan', 'bird', 'tiger', 'lion') <class 'tuple'>

In [21]:
my_tuple1=(10,8,20,5)
my_tuple2=(5,9,-1)
my=my_tuple1+my_tuple2
my1=sorted(my)
print(my1,type(my1))

[-1, 5, 5, 8, 9, 10, 20] <class 'list'>

In [28]:
my_tuple1=((1,10,8),("dog","cat","rat"),(False,True))
print(my_tuple1[0][1])
print(my_tuple1[1][2])
print(my_tuple1[2][0])

10
rat
False

In [32]:
r1=range(2,20,2)
print(r1,type(r1))

for i in r1:
    print(i,end=" ")

range(2, 20, 2) <class 'range'>
2 4 6 8 10 12 14 16 18

In [ ]:
dict_1={
        "name":"nishan",
        "age":20,
        "marks":50,
        }
print(dict_1,type(dict_1))

{'name': 'nishan', 'age': 20, 'marks': 60} <class 'dict'>

In [39]:
dict_2={"name":"nishanTharaka","age":21,"marks":50,"marks":60}
print(dict_2,type(dict_2),len(dict_2))

{'name': 'nishanTharaka', 'age': 21, 'marks': 60} <class 'dict'> 3

In [40]:
dict_2={"name":"nishanTharaka","age":21,"marks":50,"marks":60}
print(dict_2["name"])

nishanTharaka

In [ ]:
print(dict_1)
dict_1["name"]="tharaka"
dict_1["marks"]=70
print(dict_1)

{'name': 'nishan', 'age': 20, 'marks': 60}
{'name': 'tharaka', 'age': 20, 'marks': 70}

In [42]:
dict_1.update({"marks":80})
print(dict_1)

{'name': 'tharaka', 'age': 20, 'marks': 80}

In [44]:
dict_1["cplour"]="yellow"
print(dict_1,len(dict_1))

{'name': 'tharaka', 'age': 20, 'marks': 80, 'cplour': 'yellow'} 4

In [45]:
dict_1.pop("marks")
print(dict_1)

{'name': 'tharaka', 'age': 20, 'cplour': 'yellow'}

In [46]:
dict_1.popitem()
print(dict_1)

{'name': 'tharaka', 'age': 20}